<div class="col-md-4 gallery-card" ng-repeat="gallery in galleries">
	<div class="card">
		<div class="card-header card-chart" data-background-color="purple" style="cursor: pointer;">
			<img ng-src="{{selectMainImage(gallery)}}">
		</div>
		<div class="card-content">
			<h4 class="title">{{gallery.description}}</h4>
		</div>
		<div class="card-footer">
			<div class="stats">
				<i class="material-icons">today</i> {{getFormatedDate(gallery.date)}}
			</div>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="card" style="cursor: pointer;">
		<div class="card-content">
			<a><i class="material-icons">add_to_photos</i> New Gallery</a>
		</div>
	</div>
</div>
<dialog open class="new-gallery-dialog">

</dialog>